html {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #E7BAD1;
}

h2 {
    text-decoration: underline;
    text-decoration-color: #DFF1FF;
}

h3 {
    color: #DFF1FF;
    font-weight: 300;
}

#parts {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4rem;
}

.part {
    width: 35rem;
    padding: 0 2rem;
    margin: 1rem 0;
}

#part3, #part4 {
    width: 100vw;
}

#part4 img {
    width: 72rem;
}

img {
    width: 35rem;
    background-color: white;
}

.persona {
    display: flex;
    margin-bottom: 2em;
    background-color: #6d61bc;
    padding: 1.5rem;
}

.persona-text {
    margin: 0 2em;
    font-size: 115%;
}

#title {
    text-align: center;
    font-size: calc(10px + 2vmin)
}

#main-h2 {
    text-decoration: none;
}

.subtitle {
    font-weight: bold;
    color: #E7BAD1;
}